.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@highlightjs/cdn-assets/highlight.min.js
!node_modules/@highlightjs/cdn-assets/styles/github-dark.css
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
